@charset "utf-8";
/* CSS Document */
body{
	background: url(../images/背景图片.jpg) no-repeat center center fixed;
	background-size: cover;
	padding-top: 80px;
}
form{
	width: 343px;
	height: auto;
	margin: 0 auto;
	padding: 30px;
	border: 1px solid rgb(0,0,0,0.2);
	background: rgba(0,0,0,0.5);
	box-shadow: 0 0 13px 3px rgba(0,0,0,0.5);
	overflow: hidden;
}
input{
	width: 276px;
	height: 48px;
	border: 1px solid rgba(255,255,255,0.4);
	border-radius: 9px;
	display: block;
	font-family: 'Source Sans Pro',sans-serif;
	font-size: 18px;
	color: #fff;
	padding-left: 45px;
	padding-right: 20px;
	margin-bottom: 20px;
	background: rgba(255,255,255,0.4) no-repeat 16px 16px;
}
.radio{
	width: 18px;
    height: 20px;
   	display: inline-block;
   	border: 1px solid gray;
}
.pic{
	width: 276px;
	height: auto;
	margin: 40px auto;
	padding-left: 55px; 
	background-size: cover;
}
input[type=submit]{
	cursor: pointer;
}
::-webkit-input-placeholder{
	color: #fff;
}
input:focus{
	background-color: rgba(0,0,0,0.2);
	box-shadow: 0 0 5px 1px rgba(255,255,255,0.5);
	overflow: hidden;
}
.button{
	width: 138px;
	height: 44px;
	border-radius: 4px;
	margin: 0 auto;
	background: #00BODC;
	padding: 10.5px 21px;
	border-radius: 6px;
	color: #e1e1e1;
}
.button:active{
	margin-top: 1px;
	text-shadow: 0 -1px 0 #333333;
	border: 1px solid #253737;
	color: #fff;
}